# Database configuration
DB_PATH=./data/policies.db

# Existing Orkes configuration
ORKES_API_KEY_ID="Get this from your developer account->applications->AccessKeys"
ORKES_API_KEY_SECRET="Get this from your developer account->applications->AccessKeys"
ORKES_API_URL=https://developer.orkescloud.com/api


# Export these variables with the correct values into the same environment that 
# docker-compose up --build  is run from.

# Since the access key and secret are sensitive information, they should not be
# hardcoded in the docker-compose.yaml file, or the Dockerfile or be made available 
# along with the distributed image. Instead, they should be passed as
# environment variables. 
# It may help to save them in a file as .e.v.export and then run the command
# export $(cat .env.export | xargs)
# This will export all the variables in the file into the current environment.
# The docker-compose.yaml file will then be able to access them as environment variables.